<%- include('partials/header'); %>
<main>
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 col-md-6">
                <p>Is er ergens brand in de buurt? Houd de brandweer dan op de hoogte. Login en plaats je notificatie!</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="<%= prefix %>/images/brandweer-aan-het-werk.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="<%= prefix %>/images/vrijwilligers_brandweer.jpg" alt="">
            </div>
            <div class="col-12 col-md-6">
                <p>Wij staan altijd voor u klaar. Wilt u ons verder helpen? Wilt u meer weten? Ga dan naar brandweer.nl.</p>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer'); %>